@font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    src: url("../assets/fonts/inter-v13-latin-300.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/inter-v13-latin-regular.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("../assets/fonts/inter-v13-latin-700.woff2") format("woff2");
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

html {
    font-family: "Inter", sans-serif;
    color: white;
    overflow-y: hidden;
}

body {
    transition: margin-top 0.5s;
}

html[data-day="true"] {
    position: relative;
    background: url(../assets/mobile/bg-image-daytime.jpg) no-repeat center center fixed;
    background-size: cover;
}

html[data-day="false"] {
    position: relative;
    background: url(../assets/mobile/bg-image-nighttime.jpg) no-repeat center center fixed;
    background-size: cover;
}

h2 {
    margin: 0;
    font-size: 0.625rem;
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}

strong {
    font-size: 1.25rem;
    line-height: 1.5rem;
}

q,
b {
    font-size: 0.75rem;
    line-height: 1.375rem;
}

q {
    margin-right: 32px;
}

b {
    display: inline-block;
    margin-top: 0.5rem;
}

span {
    font-weight: bold;
}

header {
    display: flex;
    gap: 16px;
    max-width: 35.813rem;
    margin-top: 2rem;
}

main {
    position: absolute;
    bottom: 2.5rem;
}

#sun,
#moon {
    display: none;
}

.lift {
    margin-top: -16rem;
}

.overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.wrapper {
    position: relative;
    max-width: 69.375rem;
    margin: 0 auto;
    padding: 0 24px;
}

.wrapper--main {
    height: calc(100vh - 2rem);
}

.btn-refresh {
    cursor: pointer;
    padding: 0;
    border: none;
    background: none;
    align-self: flex-start;
    fill: white;
    opacity: 0.5;
}

.btn-refresh:hover {
    opacity: 1;
}

.btn-refresh__icon {
    display: block;
}

.greet {
    display: flex;
    align-items: center;
}
.greet__icon {
    margin-right: 1rem;
}
.greet__time-of-day,
.greet__currently {
    font-weight: 400;
}

.greet__currently {
    display: none;
}

.greeting {
    font-size: 0.938rem;
    font-weight: 400;
    line-height: 1.563rem;
    letter-spacing: 0.188rem;
}
.greeting__time {
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 6.25rem;
    line-height: 6.25rem;
    letter-spacing: -0.156rem;
}
.greeting__time-zone {
    font-size: 0.938rem;
    line-height: 1.75rem;
    font-weight: 300;
}
.greeting__location {
    font-size: 0.938rem;
    line-height: 1.75rem;
    letter-spacing: 0.188rem;
    text-transform: uppercase;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 7.188rem;
    height: 2.5rem;
    margin-top: 3rem;
    padding-left: 1.063rem;
    padding-right: 0.25rem;
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 0.875rem;
    letter-spacing: 0.234rem;
    text-transform: uppercase;
    border: none;
    border-radius: 1.75rem;
    background-color: white;
    cursor: pointer;
    fill: #303030;
}

.btn:hover {
    fill: #999;
}

.arrow {
    width: 2rem;
    height: 2rem;
}

.footer {
    position: relative;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(2px);
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.location__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
    html[data-day="true"] {
        background-image: url(../assets/tablet/bg-image-daytime.jpg);
    }

    html[data-day="false"] {
        background-image: url(../assets/tablet/bg-image-nighttime.jpg);
    }

    h2 {
        font-size: 0.813rem;
        letter-spacing: 0.163rem;
    }

    strong {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    q,
    b {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    b {
        margin-top: 0.875rem;
    }

    header {
        padding: 0;
        margin-top: 5rem;
    }

    main {
        margin-bottom: 4rem;
    }

    .lift {
        margin-top: -27.375rem;
    }

    .wrapper {
        padding: 0 4rem;
    }

    .wrapper--main {
        height: calc(100vh - 5rem);
    }

    .greet__currently {
        display: inline-block;
    }

    .greeting {
        font-size: 1.125rem;
        line-height: 1.75rem;
        letter-spacing: 0.225rem;
    }
    .greeting__time {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 10.938rem;
        line-height: 10.938rem;
        letter-spacing: -0.274rem;
    }
    .greeting__time-zone {
        font-size: 2rem;
    }
    .greeting__location {
        font-size: 1.125rem;
        letter-spacing: 0.225rem;
    }

    .btn {
        width: 9.125rem;
        height: 3.5rem;
        margin-top: 5rem;
        padding-left: 1.313rem;
        padding-right: 0.563rem;
        font-size: 1rem;
        line-height: 1.75rem;
        letter-spacing: 0.313rem;
        text-transform: uppercase;
        font-weight: bold;
        display: flex;
        align-items: center;
    }

    .arrow {
        width: 2.5rem;
        height: 2.5rem;
    }

    .footer {
        padding-top: 7.438rem;
        padding-bottom: 7.438rem;
    }

    .location {
        display: flex;
        justify-content: space-between;
    }

    .location:first-child {
        margin-bottom: 3rem;
    }

    .location__item {
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 0;
    }

    .location__item--last {
        margin-right: 1.75rem;
    }
}

@media screen and (min-width: 1360px) {
    html[data-day="true"] {
        background-image: url(../assets/desktop/bg-image-daytime.jpg);
    }
    html[data-day="false"] {
        background-image: url(../assets/desktop/bg-image-nighttime.jpg);
    }

    h2 {
        font-size: 0.938rem;
        letter-spacing: 0.188rem;
    }

    strong {
        font-size: 3.5rem;
        line-height: 4.25rem;
    }

    b {
        margin-bottom: 14.563rem;
    }

    header {
        margin-top: 3.5rem;
        margin-left: initial;
    }

    main {
        margin-bottom: 6.125rem;
    }

    .lift {
        margin-top: -25rem;
    }

    .wrapper {
        padding: 0;
    }

    .wrapper--main {
        height: calc(100vh - 3.5rem);
    }

    .greeting {
        width: 1110px;
        font-size: 1.25rem;
        letter-spacing: 0.25rem;
    }
    .greeting__time {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 12.5rem;
        line-height: 12.5rem;
        letter-spacing: -0.313rem;
    }
    .greeting__time-zone {
        font-size: 2.5rem;
    }
    .greeting__location {
        font-size: 1.5rem;
        letter-spacing: 0.3rem;
    }

    .btn {
        position: absolute;
        margin-top: -4.3rem;
        right: 0;
    }

    .footer {
        padding-top: 4.625rem;
        padding-bottom: 4.625rem;
    }

    .location:first-child {
        margin-bottom: 2.625rem;
    }

    .location__item {
        margin-bottom: 0.563rem;
    }
}
